In [1]:
print(10)
print(100)

10
100

In [2]:
print(4.2E-4)
print(type(4.2E-4))

0.00042
<class 'float'>

In [3]:
display("Hello World")
print('Hello World')
print(type("apa"))
print('"Hello World"')
print("Can't")
print('"She" knows')
print(''' "She" knows she can't do it" ''')
print('')

'Hello World'

Hello World
<class 'str'>
"Hello World"
Can't
"She" knows
 "She" knows she can't do it"

In [4]:
print(True)
print(False)

print(True + False)
print(True + True)
print(False + False)

True
False
1
2
0

In [5]:
a = 'b'
print(a)

a = 500
a

b

500

In [6]:
q = w = e = 10
print(q)
print(w)
print(e)

z, x, y = 1, 2, 'a'
print(z)
print(x)
print(y)

10
10
10
1
2
a

In [7]:
age = 25
_shot1 = 'dor'
_shot1

'dor'

In [10]:
a = 5
b = 2
print(a + b) # penjumlahan
print(a - b) # pengurangan
print(a * b) # perkalian
print(a / b) # pembagian desimal
print(a // b) # pembagian integer
print(a ** b) # pangkat
print(a % b) # modulo

print(a + b + 15)

7
3
10
2.5
2
25
1
22

In [11]:
a = 5
b = 2
c = 2
print(a == b)
print(c == b) #sama dengan
print(a != b) #tidak sama dengan
print(a > b) # besar dari
print(a >= b) #besar dari sama dengan
print(a < b) #kecil dari sama dengan
print(a <= b) #kecil dari sama dengan

False
True
True
True
True
False
False

In [13]:
q = 'Py'
w = 'thon'
print(q + w)
print('Hacktive' + '8')
print(q * a)
print(q in 'Python')
print(w in 'Pyton')

Python
Hacktive8
PyPyPyPyPy
True
False

In [14]:
h = 'HaCTivE8 KampuS'
print(h.upper())
print(h.lower())
print(h.capitalize())
print(h.swapcase())
print(h.title())

HACTIVE8 KAMPUS
hactive8 kampus
Hactive8 kampus
hActIVe8 kAMPUs
Hactive8 Kampus

In [18]:
#index ke 0  1  2    3    4           5            6    7   8  9  10
daftar = [1, 2, 43, 'a', True, ['b', 300, False], 4.6, 1+1, a, q, w]
# index minus                                               -3 -2 -1
py = ['Python', 'KS19', 'weelll']
# py = [12, 2, 10]

In [19]:
# print(type(daftar))
# print(daftar)
# print(daftar[3])
# print(daftar[5])
# print(daftar[7])
# print(daftar[-3])
# print(daftar[1:6])
print(daftar + py)
print(py * 3)
print(len(daftar))
print(max(py))
print(min(py))

[1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, 5, 'Py', 'thon', 'Python', 'KS19', 'weelll']
['Python', 'KS19', 'weelll', 'Python', 'KS19', 'weelll', 'Python', 'KS19', 'weelll']
11
weelll
KS19

In [21]:
#index ke 0  1  2    3    4           5            6    7   8  9  10
daftar = [1, 2, 43, 'a', True, ['b', 300, False], 4.6, 1+1, a, q, w]
# index minus                                               -3 -2 -1
py = ['Python', 'KS19', 'weelll']

daftar[8] = py
print(daftar)
daftar[-2] = 'udah malem'
print(daftar)
# del daftar[3]
print(daftar)
daftar[:3] = [1.5]
print(daftar)

[1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, ['Python', 'KS19', 'weelll'], 'Py', 'thon']
[1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, ['Python', 'KS19', 'weelll'], 'udah malem', 'thon']
[1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, ['Python', 'KS19', 'weelll'], 'udah malem', 'thon']
[1.5, 'a', True, ['b', 300, False], 4.6, 2, ['Python', 'KS19', 'weelll'], 'udah malem', 'thon']

In [22]:
tapel = (1, 2, 43, 'a', True, ['b', 300, False], 4.6, 1+1, a, q, w)
print(tapel)
print(tapel[1:5])

(1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, 5, 'Py', 'thon')
(2, 43, 'a', True)

In [23]:
(z, x, y) = (1, 2, 'a')

In [24]:
type(y)

str

In [25]:
kamus = {
    'apa':'what', 'siapa':'who', 'bagaimana':'how'
}
print(type(kamus))
print(kamus['apa'])
kamus['kapan'] = 'when'
print(kamus)
del kamus['apa']
print(kamus)
# kamus.clear()
print(kamus)

<class 'dict'>
what
{'apa': 'what', 'siapa': 'who', 'bagaimana': 'how', 'kapan': 'when'}
{'siapa': 'who', 'bagaimana': 'how', 'kapan': 'when'}
{'siapa': 'who', 'bagaimana': 'how', 'kapan': 'when'}

In [27]:
alamat = {}

alamat['kota'] = ['Palu'] 
alamat['jalan'] = 'R.E.Martadinata'
alamat['nomor rumah'] = 12
alamat['pohon'] = ['cendana', 'mahoni', 'kelengkeng']
alamat['akses'] = {'mobil':'bisa', 'TJ':{'bisa':'tapi susah'}, 'ojol':'tidak'}

print(alamat)
print(alamat['pohon'][1])
print(alamat['akses']['TJ']['bisa'])
print(alamat.items())
print()
print(alamat.values())
print()
print(alamat.keys())

{'kota': ['Palu'], 'jalan': 'R.E.Martadinata', 'nomor rumah': 12, 'pohon': ['cendana', 'mahoni', 'kelengkeng'], 'akses': {'mobil': 'bisa', 'TJ': {'bisa': 'tapi susah'}, 'ojol': 'tidak'}}
mahoni
tapi susah
dict_items([('kota', ['Palu']), ('jalan', 'R.E.Martadinata'), ('nomor rumah', 12), ('pohon', ['cendana', 'mahoni', 'kelengkeng']), ('akses', {'mobil': 'bisa', 'TJ': {'bisa': 'tapi susah'}, 'ojol': 'tidak'})])

dict_values([['Palu'], 'R.E.Martadinata', 12, ['cendana', 'mahoni', 'kelengkeng'], {'mobil': 'bisa', 'TJ': {'bisa': 'tapi susah'}, 'ojol': 'tidak'}])

dict_keys(['kota', 'jalan', 'nomor rumah', 'pohon', 'akses'])

In [28]:
a = 10
b = 2
c = 10

d = (
    a == c
    or c==a
    or a == b
)
d

True